.disable {
  display: none;
}

.home_title {
  background-color: white;
  font-size: 42px;
  text-align: center;
  color: #9c1800;
  padding: 10px;
  border-radius: 8px;
}

.product_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
}

.home_product {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 240px;
  height: 360px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.093);
  cursor: pointer;
  transition: 0.4s;
}

.home_product:hover {
  color: rgb(87, 87, 255);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.227);
}

.product_name {
  text-align: left;
  width: 100%;
  padding-left: 10px;
  margin-top: 6%;
}

.product_price {
  text-align: left;
  font-size: 26px;
  width: 100%;
  padding-left: 10px;
}
