.disable {
  display: none;
}

.nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fef30e;
  width: 100%;
  height: 64px;
  border-top: 1px solid #a26632;
}

.menu_icon {
  margin-left: 100px;
}

.nav_user_area {
  display: flex;
  justify-content: right;
  gap: 40px;
  width: 50%;
}

.user_icon,
.menu_icon,
.cart_icon {
  color: #b01a00;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: 0.2s;
}

.menu_icon:hover,
.cart_icon:hover {
  color: #ec2300;
}

.user_icon_area {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
