.disable {
  display: none;
}

.admin_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fef30e;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #a26632;
}

.menu_admin_icon {
  color: #b11b00;
  width: 38px;
  height: 38px;
  cursor: pointer;
  transition: 0.4s;
}

.menu_admin_icon:hover {
  color: #ff2600;
}

.admin_nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.admin_menu_link {
  text-align: center;
  color: #b11b00;
  font-size: 20px;
  width: 90%;
  padding: 10px;
  text-decoration: none;
  transition: 0.4s;
}

.admin_menu_link:hover {
  background-color: #ffe100;
  color: #ff2600;
  border-radius: 8px;
  text-decoration: underline;
}

.admin_menu_icon_box {
  width: 26px;
  height: 26px;
}
